
.zoom {
  padding: 20px;
  transition: transform .2s;
  margin: 0 auto;
}
.zoom1 {
  padding: 20px;
  transition: transform .2s;
  margin: 0 auto;
  opacity: 0.5;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}

.arrow-center {
  background: #444;
  position: absolute;
  padding: 0px 5px 0px;
  color: white;
  margin: 55px 0px 0px 90px; 
  z-index: 1;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}